name = "montclair-pride-api"
main = "src/index.ts"

# see https://developers.cloudflare.com/workers/configuration/compatibility-flags/
compatibility_date = "2026-02-26"
compatibility_flags = ["nodejs_als"] # Enable AsyncLocalStorage

# Standard Assets for your images/static folder
[assets]
directory = "./public"
binding = "ASSETS"
run_worker_first = false

# Enable observability for local/dev previews
[observability]
enabled = true
head_sampling_rate = 1

[version_metadata]
binding = "CF_VERSION_METADATA"

# ⚠️ DO NOT put your API keys or other secrets here!!!
# Place them in a `.dev.vars` file for local development
# or using the Cloudflare dashboard for production
[vars]
GOOGLE_SHEET_ID = "1S5vTxMOR0TmeI9V0X02mS709j7G-06YJezOuRjooqFU"
LOG_LEVEL = "info"
ENVIRONMENT = "development"
S_MAXAGE = 60
SWR_TTL = 2592000

# --- PRODUCTION SETTINGS ---
[env.production]
[env.production.observability]
enabled = true
head_sampling_rate = 1

[env.production.version_metadata]
binding = "CF_VERSION_METADATA"

[env.production.vars]
GOOGLE_SHEET_ID = "1S5vTxMOR0TmeI9V0X02mS709j7G-06YJezOuRjooqFU"
LOG_LEVEL = "info"
ENVIRONMENT = "production"
S_MAXAGE = 900
SWR_TTL = 2592000
